@import 'reset';
@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 960px) {
            @content ;
        }
    }
    @if $point==tablet {
        @media (min-width: 480px) {
            @content ;
        }
    }    
}

// ============================================================================
// Vars
// ============================================================================
// Colors
$debug: false;
$colors: ( 'white': #fafbfb, 'black': #000);
// Base Settings
$background-color-base: map-get($colors, 'black');
//Fonts
$font-color-base: map-get($colors, 'white');
$font-style-base: 16px/20px 'futura-pt',
'Trebuchet MS',
Arial,
sans-serif;
$breakpoints: ( 'desktop': 960px);
// ============================================================================
// Base Styles
// ============================================================================
body {
    font: $font-style-base;
    color: $font-color-base;
    background-color: $background-color-base;
}

a:visited,
a:hover,
a:active {
    color: $font-color-base;
}

img {
    max-width: 100%;
}

// ============================================================================
// Headers
// ============================================================================
.gfl-hd-2 {
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    @include breakpoint('desktop') {
        font-size: 28px;
        line-height: 28px;
    }
}

.gfl-hd-3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    @include breakpoint('desktop') {
        font-size: 18px;
        line-height: 24px;
    }
}

.gfl-hd-4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include breakpoint('desktop') {
        font-size: 26px;
    }    
}

.gfl-hd-5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
}

.gfl-hd-6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 40px 20px;
}

// ============================================================================
// Landing Styles
// ============================================================================
.gfl-page {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.gfl-hero {
    text-align: center;
    margin-bottom: 20px;
    &__media {
        max-height: 570px;
        margin-bottom: -5%;
    }
    &__logo {
        margin: 0 20px;
        img {
            margin: 0 auto;
            max-width: 500px;
        }
    }
}

.gfl-pledge-button {
    display: block;
    margin: 0 20px;
    padding: 10px 0 5px;
}

.gfl-yt {
    &__wrap {
        position: relative;
        padding-bottom: 56.25%;
    }
    &__frame {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.gfl-main-player {
    background: url('../images/player.jpg') no-repeat 50% 0;
    background-size: contain;
    margin-bottom: 20px;
    &__wrap {
        margin: 0 20px;
        @include breakpoint('desktop') {
            margin: 0 50px;
        }
    }
    &__frame {
        border: 1px solid map-get($colors, 'white');
        transition: opacity .5s ease-in;
        opacity: 0;
        &.is-ready {
            opacity: 1;
        }
    }
}

.gfl-description {
    @include breakpoint('desktop') {
        height: 960px;
        padding: 45px 50px 0;
        background: url('../images/description.jpg') no-repeat 50% 0;
    }
}

.gfl-description-section {
    display: flex;
    flex-direction: column-reverse;

    &:nth-child(2) {
        flex-direction: column;

        @include breakpoint('desktop') {
            flex-direction: row;
        }            
    }

    @include breakpoint('desktop') {
        flex-direction: row;
    }    

    &__image {
        text-align: center;
    }

    &__content {
        font-size: 18px;
        line-height: 23px;
        font-weight: bold;
        color: map-get($colors, 'black');
        background: white;
        padding: 40px 30px;
        margin-top: 20px;

        @include breakpoint('desktop') {
            margin-top: 0;
        }           
    }
}

.gfl-characters {
    background: url('../images/description-1.jpg') repeat-x 50% 0 / cover;

    @include breakpoint('tablet') {
        background-size: contain;
    }

    @include breakpoint('desktop') {
        max-width: 410px;
        padding: 85px 35px 100px 65px;
        background: transparent;
    }
}

.gfl-explore {
    background: url('../images/description-2.jpg') repeat-x 50% 0 / cover;

    @include breakpoint('tablet') {
        background-size: contain;
    }

    @include breakpoint('desktop') {
        max-width: 370px;
        padding: 85px 15px 75px 25px;
        background: transparent;
    }
}

.gfl-intruders {
    background: url('../images/description-3.jpg') repeat-x 50% 0 / cover;

    @include breakpoint('tablet') {
        background-size: contain;
    }

    @include breakpoint('desktop') {
        max-width: 370px;
        padding: 85px 10px 100px 30px;
        background: transparent;
    }
}

.gfl-section {
    display: flex;
    flex-direction: column;
    padding: 30px;

    @include breakpoint('desktop') {
        padding: 50px 0 15px;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;
        flex-direction: row;
    }

    &__image {
        text-align: center;
    }

    &__content {
        max-width: 420px;
        line-height: 18px;
        margin-top: 20px;

        p {
            margin-left: 20px;
            margin-top: 0;
        }
    }
}

.gfl-review {
    margin: 100px 0 0;
    text-align: center;
    &__title {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 20px;

        @include breakpoint('desktop') {
            font-size: 50px;
            line-height: 50px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 50%;
        padding: 5px;
        @include breakpoint('desktop') {
            width: 33.3%;
        }
        
    }
    &__player {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.gfl-footer {
    display: flex;
    justify-content: center;
    margin: 90px 0;
}

.gfl-logo-awaken {
    width: 280px;
    height: 110px;
    padding: 10px;
}

.gfl-logo-rebel {
    width: 280px;
    height: 100px;
    padding: 10px;
}
